{% extends 'music/base.html' %}
{% block title %}Add a New Song{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container mt-4">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{% url 'music:detail' album.id %}">
                        {% if album.album_logo %}
                            <img src="{{ album.album_logo.url }}" class="img-fluid rounded">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1 class="card-title">{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-md-9">

            <ul class="nav nav-pills mb-3" style="margin-bottom: 10px;">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'music:detail' album.id %}">View All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'music:create_song' album.id %}">Add New Song</a>
                </li>
            </ul>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add a New Song</h3>
                    {% if error_message %}
                        <p class="text-danger"><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="album" value="{{ album }}">
                        {% include 'music/form_template.html' %}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
